body {
    background-color: #191919;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
   
    padding: 0;
}

/* Garantir que a navbar ocupe 100% da largura e altura desejada */
.navbar {
    width: 100%;
    background-color: #333; /* Cor de fundo da navbar */
    padding: 0;
    margin: 0;
    height: 60px; /* Defina a altura desejada para a navbar */
    z-index: 1;
}
.podever{
    font-size:40px;
    background-color: #333;
    padding: 0 10px; /* Ajuste o padding para controlar o espaço */
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* Para garantir que todos os elementos dentro da navbar estejam centralizados verticalmente */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantém o Pode Ver! à esquerda e os outros à direita */
    height: 100%;
    padding: 0 20px;
}

.nav-right {
    display: flex;
    gap: 20px; /* Ajusta o espaçamento entre os itens à direita */
    height: 100%;
    
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.minha-lista {
    background-color: #333;
    padding: 0 10px; /* Ajuste o padding para controlar o espaço */
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.minha-lista:hover {
    background-color: #191919; /* Cor de fundo vermelha mais escura */
}
.close-button {
    
    align-items: center; /* Centralizar o texto verticalmente */
    justify-content: center; /* Centralizar o texto horizontalmente */
    background-color: #333;
    color: white;
    border: none;
    padding-top: 10px;
    cursor: pointer;
    height:60px ;
    border-radius: 0;
    width: 100%; /* Isso garante que o botão ocupe toda a largura do contêiner pai */
    font-weight: bold;
    
     
}
.open-sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    height: 100%;
    
}

.open-sidebar-button:hover {
    background-color: #191919;
    padding: 10px 20px; /* Manter o padding original */
    height: 100%; /* Garantir que preencha toda a altura do contêiner pai */
   
    box-sizing: border-box; /* Incluir o padding no cálculo da largura/altura */
    border: none;
}

.close-button:hover {
    background-color: #191919;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Alinhar os itens à esquerda */
    margin-left: 50px; /* Adicionar margem à esquerda */
}
.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.movie-item img {
    width: 100%;
    height: auto;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 300px;
    font-size: 16px;
}
.search-bar:focus {
    outline: none;
}
.search-button {
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #f40612;
}
.search-button i {
    font-size: 16px;
}
.add-button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.add-button:hover {
    background-color: #f40612;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente escondida */
    background-color: #333;
    color: white;
    padding: 0; /* Remover padding */
    overflow-y: auto;
    transition: right 0.3s;
    visibility: hidden; /* Inicialmente invisível */
}
.start-button{
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.enviar-button {
    position: sticky;
    bottom: 10px;
    width: calc(100% - 20px); /* Ajusta a largura do botão */
    margin: 10px; /* Ajusta a posição do botão */
    background-color: #e50914; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibição inline-block */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.enviar-button:hover {
    background-color:#a61920; /* Cor de fundo ao passar o mouse */
}
.sidebar.visible {
    right: 0; /* Mostrar a barra lateral */
    visibility: visible; /* Tornar visível */
}

.sidebar h2 {
    text-align: center;
    padding: 20px; /* Adicionar padding ao título */
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Adicionar padding aos itens da lista */
}
.sidebar img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.delete-button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.delete-button:hover {
    background-color: #f40612;
}


/* PodeVer.css */

/* Estilizar o contêiner do filme */
.movie-container {
   display: flex;
   flex-direction: row;
}

/* Ajustar o tamanho do pôster */
.movie-container img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    padding: auto;
}
.movie-details{
    padding: 15px;
}
/* Estilizar o título do filme */
.movie-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Estilizar a descrição do filme */
.movie-container p {
    font-size: 1.2em;
    line-height: 1.5;
}
.Conteudo {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    color: white;
}

.banner {
    background-image: url('/static/images/banner.webp'); /* Ou o formato que você está usando */
    background-size: cover;
    background-position: center;
    height: 400px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0; /* Remover qualquer margem para encostar na navbar */
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


.cortina{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cortina-left, .cortina-right {
    position: absolute;
    top: 0;
    transition: transform 2s ease-in-out;
    width: 103%;
    
}
.cortina-left {
    left: 0;
}
.cortina-right {
    right: 0;
}
.cortina-left.animate {
    transform: translateX(-100%);
}
.cortina-right.animate {
    transform: translateX(100%);
}
.cortina.hidden {
    z-index: -1;
    visibility: hidden;
    
}